body {
  background: white;
}
* {
  font-size: 26px;
}
a {
  text-decoration: none;
  color: black;
}
img.wide {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
